.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  filter: drop-shadow(0 0 0.75rem rgb(75, 75, 75));
}

.card .text {
  height: 65px;
}

.card .text p {
  color: white;
  font-size: 20px;
}

.card .Mercúrio {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Mercúrio:hover {
  filter: drop-shadow(0 0 00.75rem blue);
}

.card .Mercúrio img {
  width: 41px;
}

.card .Vênus {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Vênus:hover {
  filter: drop-shadow(0 0 00.75rem rgb(179, 179, 29));
}

.card .Vênus img {
  width: 102px;
}

.card .Terra {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Terra:hover {
  filter: drop-shadow(0 0 00.75rem blue);
}

.card .Terra img {
  width: 106px;
}

.card .Marte {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Marte:hover {
  filter: drop-shadow(0 0 00.75rem rgb(255, 174, 23));
}

.card .Marte img {
  width: 66px;
}

.card .Júpiter {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Júpiter:hover {
  filter: drop-shadow(0 0 00.75rem rgb(141, 141, 141));
}

.card .Júpiter img {
  width: 272px;
}

.card .Saturno {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Saturno:hover {
  filter: drop-shadow(0 0 00.75rem rgb(231, 231, 49));
}

.card .Saturno img {
  width: 282px;
}

.card .Urano {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Urano:hover {
  filter: drop-shadow(0 0 00.75rem rgb(131, 131, 240));
}

.card .Urano img {
  width: 144px;
}

.card .Netuno {
  margin: auto;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

.card .Netuno:hover {
  filter: drop-shadow(0 0 00.75rem blue);
}

.card .Netuno img {
  width: 144px;
}
