.solar-system-container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.solar-system-container h2 {
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
}

.solar-system-cards {
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  width: 100%;
}
